# Default ignored files
/shelf/
/workspace.xml
.gradle/
.idea/
*.iml
*.log
local.properties
captures/
/build/
*/build/
*/out/
.gradle/
build/
gradle-app.setting
gradle.log
obj/
.externalNativeBuild/
*.jks
*.keystore
/captures/
/outputs/
/*.apk
/*.aab
/.cxx/
*.so
*.o
*.lo
*.la
*.a
*.la
lint/intermediates/
lint/outputs/
app/google-services.json
app/src/*/google-services.json
.vscode/